# dependencies
my-app/node_modules
my-app/.pnp
my-app/.pnp.js

# testing
my-app/coverage

# next.js
my-app/.next/
my-app/out/

# production
my-app/build

# misc
my-app/.DS_Store
my-app/*.pem

# debug
my-app/npm-debug.log*
my-app/yarn-debug.log*
my-app/yarn-error.log*
my-app/.pnpm-debug.log*

# local env files
my-app/.env*.local

# vercel
my-app/.vercel

# typescript
my-app/*.tsbuildinfo
my-app/next-env.d.ts


hardhat-tutorial/node_modules
hardhat-tutorial/.env
hardhat-tutorial/coverage
hardhat-tutorial/coverage.json
hardhat-tutorial/typechain
hardhat-tutorial/typechain-types

# Hardhat files
hardhat-tutorial/cache
hardhat-tutorial/artifacts


